Source:
<mat-radio-group aria-label="Select an image source">
    <mat-radio-button value="0" [checked]="true" (click)="changeApodSource('NASA')"> NASA APOD </mat-radio-button>&nbsp;
    <mat-radio-button value="1" (click)="changeApodSource('MyFav')"> My favorites </mat-radio-button>
</mat-radio-group>

<div *ngIf="showApodDatePicker">Date: <app-datepicker (newApodDateEvent)="setCurrentApodDate($event)"></app-datepicker></div>
<div *ngIf="!showApodDatePicker">
  Start date: <app-datepicker (newApodDateEvent)="setMyFavoriteStartdate($event)"></app-datepicker>
  End date:<app-datepicker (newApodDateEvent)="setMyFavoriteEnddate($event)"></app-datepicker>
</div>

<div *ngIf="showMainMediaPanel">
  <div class="row">
    <div class="column" style="background-color:rgb(15, 15, 15);">
      <div *ngIf="showMainImage"><img width="600" height="500" src={{apod.url}}></div> 
      <div *ngIf="showMainVideo"><app-video-player [videoId]="currentVideoId"></app-video-player></div>
    </div>
    <div class="column" style="background-color:rgb(15, 15, 15);">
      <h2>{{apod.title}}</h2>
      <p>{{apod.explanation}}</p>
      <p>{{apod.copyright}} {{apod.date}}</p>
      <p>
        <button *ngIf="showSaveMyFavButton" color="primary" (click)="saveMyFavorite()">Save into my favorites</button>
        <button *ngIf="showDeleteMyFavButton" mat-button color="primary" (click)="deleteMyFavorite()">Delete from my favorites</button>
      </p>
    </div>
  </div>
</div>

<hr>
<table>
  <tbody>
      <tr *ngFor="let colApods of thumbnailApods">
          <td *ngFor="let apod of colApods"><div (click)="changeCurrentApod(apod)"><img width="175" height="100" src={{apod.url}}></div></td>
      </tr>
  </tbody>
</table>