
<h1>AstroPinterest</h1>
<p>A system like Pinterest but will take you out of this planet. You can look into deep space,</p>
<p> save the picture you like, find the history of your favorite one back to 10 years, and many more.</p>
<hr>
<div><app-imageviewer></app-imageviewer></div>
<hr>
<section>
    <article>
        <h3><b>NASA APOD:</b></h3>
        <p>Astronomy Picture of the Day or APOD. Discover the cosmos! Each day a different image or </p>
        <p>photograph of our fascinating universe is featured, along with a brief explanation written by a professional astronomer. </p>
    </article>
    <article>
        <h3><b>My favorites:</b></h3>
        <p>Keep every APODs you are love in stock. You can browse them later by clicking through the calendar below </p>
        <p>like you find the APOD but selecting the "My favorites" option instead.</p>
    </article>
</section>
<hr>
<footer>
    <p>Copyright 2022 by Adisak.K. All Rights Reserved.</p>
</footer>